{% extends 'base.html.twig' %}

{% block title %}New OeuvreCompetition{% endblock %}

{% block body %}
    <h1>Ajouter OeuvreCompetition</h1>

    {{ include('oeuvre_competition/_form.html.twig') }}

    <a href="{{ path('competition_artisteCC') }}" class="btn btn-primary">Retour</a>
{% endblock %}
